<%- include('./partials/header') %>

    <body>
        <%- include('./partials/navbar') %>
            <div class="container">
              <hr>
              <h5><%=pergunta.nome%></h5>
              <h1><%=pergunta.pergunta%></h1>
              <hr>
            </div>
    </body>
    <%- include('./partials/footer') %>